{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5">

    <h1>Connexion</h1>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Votre email :</label>
        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required>

        <label for="password">Votre mot de passe :</label>
        <input type="password" class="form-control mt-2" id="password" name="_password" required>

        <input type="hidden" name="_target_path" value="{{ path('app_account') }}"> 

        <button type="submit" class="btn btn-success mt-3">Me connecter</button>
    </form>
    <br>
    Vous n'avez pas de comptee ? <a href="{{ path('app_register') }}">Inscrivez-vous</a>
</div>
{% endblock %}
